## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("v2_Latest_Data_Science_Salaries.csv")
df.head(10)

Fontconfig warning: ignoring UTF-8: not a valid region tag

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Machine Learning Manager,Full-Time,Senior,Expert,120000,Euro,United States,129562,Germany,Large,2023
1,BI Data Analyst,Full-Time,Entry,Junior,50000,United States Dollar,Kenya,50000,Kenya,Small,2023
2,AI Engineer,Full-Time,Senior,Expert,227850,United States Dollar,United States,227850,United States,Medium,2023
3,AI Engineer,Full-Time,Senior,Expert,180500,United States Dollar,United States,180500,United States,Medium,2023
4,Data Analyst,Full-Time,Mid,Intermediate,90000,United States Dollar,United States,90000,United States,Medium,2023
5,Data Analyst,Full-Time,Mid,Intermediate,70000,United States Dollar,United States,70000,United States,Medium,2023
6,Data Engineer,Full-Time,Senior,Expert,199000,United States Dollar,United States,199000,United States,Medium,2023
7,Data Engineer,Full-Time,Senior,Expert,159000,United States Dollar,United States,159000,United States,Medium,2023
8,Data Lead,Full-Time,Senior,Expert,350000,United States Dollar,United States,350000,United States,Medium,2023
9,Data Lead,Full-Time,Senior,Expert,80000,United States Dollar,United States,80000,United States,Medium,2023

### Propuesta de solución

1. ¿Cúantos posibles "Job Title" existen en el Dataset?

In [4]:
counter = df['Job Title'].value_counts()
print (counter)

Data Engineer                      732
Data Scientist                     666
Data Analyst                       471
Machine Learning Engineer          316
Analytics Engineer                 141
                                  ...
AI Research Engineer                 1
Power BI Developer                   1
AWS Data Architect                   1
Staff Machine Learning Engineer      1
Data DevOps Engineer                 1
Name: Job Title, Length: 115, dtype: int64

2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?

In [5]:
 et_frecuency = df ['Employment Type'].nunique()
print( et_frecuency )

4

In [6]:
 et_frecuency = df ['Employment Type'].value_counts()
print( et_frecuency )

Full-Time    3431
Contract       15
Part-Time      13
Freelance      11
Name: Employment Type, dtype: int64

3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [8]:
ExpertiseL_types = df ['Expertise Level'].value_counts()
print (ExpertiseL_types)

Expert          2187
Intermediate     833
Junior           296
Director         154
Name: Expertise Level, dtype: int64

In [18]:
group_expert_expertise = df.groupby('Expertise Level') 
mean_group_expert_expertise = group_expert_expertise ['Salary in USD'].mean()
print (mean_group_expert_expertise)

Expertise Level
Director        188583.987013
Expert          160262.329675
Intermediate    109195.112845
Junior           79669.162162
Name: Salary in USD, dtype: float64

In [19]:
ExperienceL_types = df ['Experience Level'].value_counts()
print (ExperienceL_types)

Senior       2187
Mid           833
Entry         296
Executive     154
Name: Experience Level, dtype: int64

In [20]:
group_expert_experience = df.groupby('Experience Level') 
mean_group_expert_experience = group_expert_experience ['Salary in USD'].mean()
print (mean_group_expert_experience)

Experience Level
Entry         79669.162162
Executive    188583.987013
Mid          109195.112845
Senior       160262.329675
Name: Salary in USD, dtype: float64

4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?

In [22]:
divisa_filter = df [df['Salary Currency'].notna()]
conversion = {}
for index, row in divisa_filter.iterrows():
    currency = row ['Salary Currency']
    rate = row ['Salary']
    conversion[currency] = rate
for currency, rate in conversion.items():
    print (f'Divisa: {currency}, Tasa de conversión a USD: {rate}')

Divisa: Euro, Tasa de conversión a USD: 24000
Divisa: United States Dollar, Tasa de conversión a USD: 100000
Divisa: Indian Rupee, Tasa de conversión a USD: 7000000
Divisa: British Pound Sterling, Tasa de conversión a USD: 45000
Divisa: Canadian Dollar, Tasa de conversión a USD: 110000
Divisa: Philippine Peso, Tasa de conversión a USD: 866000
Divisa: Turkish Lira, Tasa de conversión a USD: 250000
Divisa: Brazilian Real, Tasa de conversión a USD: 102000
Divisa: Swiss Franc, Tasa de conversión a USD: 115000
Divisa: Australian Dollar, Tasa de conversión a USD: 120000
Divisa: Polish Zloty, Tasa de conversión a USD: 180000
Divisa: Norwegian Krone, Tasa de conversión a USD: 800000
Divisa: Japanese Yen, Tasa de conversión a USD: 4450000
Divisa: South African Rand, Tasa de conversión a USD: 627000
Divisa: Hong Kong Dollar, Tasa de conversión a USD: 510000
Divisa: Singapore Dollar, Tasa de conversión a USD: 160000
Divisa: Israeli New Shekel, Tasa de conversión a USD: 1500000
Divisa: Thai Baht, Tasa de conversión a USD: 840000
Divisa: Hungarian Forint, Tasa de conversión a USD: 11000000
Divisa: Danish Krone, Tasa de conversión a USD: 300000
Divisa: Mexican Peso, Tasa de conversión a USD: 720000
Divisa: Chilean Peso, Tasa de conversión a USD: 30400000

5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?

In [25]:
residence = df['Employee Residence']
countries = set (residence)
countries_number = len (countries)
print(f'Hay empleados en{countries_number} países')

Hay empleados en 83 países

6. ¿Cuál salario promedio por "Job Title" agrupado?

In [26]:
mean_salary = df.groupby('Job Title')['Salary'].mean()
print (mean_salary)

Job Title
AI Architect                       233500.000000
AI Developer                       149363.636364
AI Engineer                        204175.000000
AI Programmer                       62500.000000
AI Research Engineer               150000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             120000.000000
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary, Length: 115, dtype: float64

7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?

In [27]:
mean_salary_country = df.groupby('Employee Residence')['Salary'].mean()
print (mean_salary_country)

Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  47000.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom           98434.346154
United States           159744.955270
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary, Length: 83, dtype: float64

8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?

In [28]:
max_salary = df['Salary in USD'].max()
max_salary_register = df[df['Salary in USD'] == max_salary]

print(f"Max salario (USD): {max_salary}")
print("Registro correspondiente:")
print(max_salary_register)


min_salary = df['Salary in USD'].min()
min_register_salary = df[df['Salary in USD'] == min_salary]

print(f"\nMin salario (USD): {min_salary}")
print("Registro correspondiente:")
print(min_register_salary)

Max salario (USD): 450000
Registro correspondiente:
               Job Title Employment Type Experience Level Expertise Level  \
3255  Research Scientist       Full-Time              Mid    Intermediate

      Salary       Salary Currency Company Location  Salary in USD  \
3255  450000  United States Dollar    United States         450000

     Employee Residence Company Size  Year
3255      United States       Medium  2020

Min salario (USD): 15000
Registro correspondiente:
                            Job Title Employment Type Experience Level  \
298   Business Intelligence Developer       Full-Time              Mid
1530               Staff Data Analyst       Full-Time        Executive
2811       Machine Learning Developer       Full-Time            Entry
2996                     Data Analyst       Full-Time            Entry

     Expertise Level  Salary       Salary Currency Company Location  \
298     Intermediate   15000  United States Dollar            Ghana
1530        Director   15000  United States Dollar           Canada
2811          Junior   15000  United States Dollar         Thailand
2996          Junior   15000  United States Dollar        Indonesia

      Salary in USD Employee Residence Company Size  Year
298           15000              Ghana       Medium  2022
1530          15000            Nigeria       Medium  2020
2811          15000           Thailand        Large  2021
2996          15000          Indonesia        Large  2022

9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?

In [29]:
salary_mean_role = df.groupby(['Company Size'])['Salary'].mean().reset_index()

print (salary_mean_role)

  Company Size         Salary
0        Large  454766.563319
1       Medium  158487.787688
2        Small  274620.790850

10. Muestre los datos agrupados por tamaño de la compañía, país y salario promedio.